<!DOCTYPE html>
<html>
<head>
     <title>{{title}}</title>
     <link rel='stylesheet' href='/stylesheets/bootstrap.min.css'/>
     <link rel='stylesheet' href='/stylesheets/bootstrap.css'/>
    <!--  <link rel='stylesheet' href='/stylesheets/font-awesome.min.css' /> -->
     <link rel='stylesheet' href='/stylesheets/style.css' />
</head>
<body>
    <div class="leftSide">

    </div>
</body>
</html>
