<!DOCTYPE html>
<html>
  <head>
     <title>{{title}}</title>
     <link rel='stylesheet' href='/stylesheets/bootstrap.min.css'/>
     <link rel='stylesheet' href='/stylesheets/bootstrap.css'/>   
     <link rel='stylesheet' href='/stylesheets/style.css' />
     
  </head>
  </head>
  <body>
    <script src="/javascripts/jquery-2.1.4.min.js"></script>
    {{>header}}
     <div class="container">
  
           
              {{>leftSide}}
          
             {{>rightSide}}
           
        </div>
     
 
    <script src="/javascripts/bootstrap.min.js"></script>
 
  </body>
</html>
